# created by virtualenv automatically
# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
.env/

# Ignore other IDE/editor-specific files (e.g., VS Code)
.vscode/

